html,body,blockquote,code,h1,h2,h3,h4,h5,h6,p,pre{margin:0;padding:0}
div{margin:0;padding:0;background-color:transparent;text-align:left}

.Footer{
    position: absolute;
    display:inline-block;
    width: 768px;
    height: 154px;
    left: 0px;
    top: 870px;
    background-color: #1C67A0;
}




.FooterbuttonHeader{
    position: relative;

    background-color:transparent;
    background-size: cover;
    display: inline-block;
  
    border-radius: 20px;
    border: none;
    outline: 0;
  
    width: 252px;
    height: 154px;
    margin: 0px 0px;
}

.ChatbuttonImage{
    position: relative;
    top:6px;
}

.ParticipantsbuttonImage{
    position: relative;
    top:6px;

}
.SettingsbuttonImage{
    position: relative;
    top:10px;
}

.FooterbuttonHeader:active{
    background-color: #383838 ;
}

.active, .FT:hover {
    background-color: #383838 ;
}

