html,body,blockquote,code,h1,h2,h3,h4,h5,h6,p,pre{margin:0;padding:0}
div{margin:0px;padding:0;background-color:transparent;text-align:left}

.TopPanel {
  /*same as fixed, just listens to parent div
  not to root, hence is scrollable*/
  position: absolute;
  display:inline-block;
  width: 768px;
  height: 354px;
}

.VideoPresentationPanel {
  position: absolute;
  float:left;
  width: 520px;
  height: 354px;
  left: 0px;
  top: 0px;
}

.VideoControls{
  position: relative;
  width: 520px;
  height: 61px;
  top:-4px;
  align-content: center;
  background-color: #c8c8c8
}

.SidePanel {
  position: absolute;
  width: 248px;
  height: 354px;
  left: 520px;
  top: 0px;
  background-color: #c8c8c8
}

.NextSlidePanel {
  /*since I dont alter the position,
  static would work the same*/
  position: relative;
  width: 248px;
  height: 178px;
  left: 0px;
  top: 0px;
  text-align: center;  
}

h1.NextSlideText {
  position: relative;
  max-width: 248px;
  width: auto;
  max-height: 26px;
  height: auto;
  top: 0px;
  font-family: SegoeUI;
  font-weight: bold;
  font-size: 18px;
  color: #383838;
}

.PresentationControlsPanel {
  position: relative;
  width: 248px;
  height: 178px;
  left: 0px;
  top: 0px;
  text-align: center;
}

.buttonHeader {
  position: relative;

  background-color:white;
  background-size: cover;
  display: inline-block;

  border-radius: 6px;
  border: none;
  outline: 0;

  width: 45px;
  height: 45px;
  margin: 4px 0px;

  cursor: pointer;
}

.buttonHeader:active {
  background-color: rgb(28, 103, 160);
}

.buttonImage {
  position: relative;

  width:45px;
  height:45px;
}

/*Leave as 
is all slider compartemnts*/

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 80%;
  height: 12px;
  align-content: center;
  background: white;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;

  top: 10px;
  margin: 15px auto;
  display: block;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgb(28, 103, 160);
  cursor: pointer;
}



