html,body,blockquote,code,h1,h2,h3,h4,h5,h6,p,pre{margin:0;padding:0}
div{margin:50px;padding:0;background-color:transparent;text-align:left}

.TopPanel {
  position: absolute;
  display:inline-block;
  width: 768px;
  height: 354px;
}

.VideoPresentationPanel {
  position: relative;
  float:left;
  width: 520px;
  height: 354px;
  left: 0px;
  top: 0px;
}

.NextSlidePanel {
  position: relative;
  float:left;
  width: 248px;
  height: 178px;
  left: 0px;
  top: 0px;
  text-align: center;
  background-color: #c8c8c8
}

h1.NextSlideText {
  position: relative;
  max-width: 248px;
  width: auto;
  max-height: 26px;
  height: auto;
  top: 0px;
  font-family: SegoeUI;
  font-weight: bold;
  font-size: 18px;
  color: #383838;
}

.PresentationControlsPanel {
  position: relative;
  float: left;
  width: 248px;
  height: 178px;
  left: 0px;
  top: 0px;
  text-align: center;
  background-color: #c8c8c8
}

.buttonHeader {
  background-color:white;
  background-size: cover;
  display: inline;
  border: none;
  width: 45px;
  height: 45px;
  border-radius: 6px;
  margin: 4px 0px;
  cursor: pointer;
}

.buttonHeader:active {
  background-color: rgb(102, 178, 236);
}

.buttonImage {
  position: relative;
  left: -5px;
  top: -1px;

  width:45px;
  height:45px;
}


