html,body,blockquote,code,h1,h2,h3,h4,h5,h6,p,pre{margin:0;padding:0}
div{margin:0px;padding:0;background-color:transparent;text-align:left}

/* --- PANELS --- */

.DefaultPanel {
  position: absolute;
  width: 1270px;
  height: 940px;
}

.LeftBarPanel {
  float:left;
  width: 120px;
  height: 940px;
  background-color: rgb(28, 103, 160);
  text-align: center;
}

.RightPanel {
  float:left;
  width: 1150px;
  height: 940px;
  background-color: #c8c8c8;
}

.PresentationRightPanel {
  display: inline-block;
  width: 825px;
  height: 575px;
  background-color:red;
}

.NextSlideVideoRightPanel {
  float:right;
  width: 325px;
  height: 575px;

  text-align: center;

  background-color:#c8c8c8;
}

.AllOptionPanelsLowerLeftPanel {
  float:left;
  width: 310px;
  height: 365px;
  background-color:darkgrey;
}

.PerOptionsPanel{
  position: relative;
  display: block;
  text-align:center;
  margin: 0 auto;
}

.TakeNotesLowerMiddlePanel{
  float:left;
  width: 420px;
  height: 365px;
  background-color:green;
}

.GrouPrivateChatLowerRightPanel{
  float:left;
  width: 420px;
  height: 365px;
  background-color:#FFFFFF;
}

/* -- IMAGES , BUTTONS , TEXTS -- */

h1.NextSlideText {
  font-family: SegoeUI;
  font-weight: bold;
  font-size: 36px;
  color: #383838;
}

#LaptopCurrentPPTScreen, #LaptopNextPPTScreen, #LaptopUserCamera{
  max-width: 100%;
  height: auto;
}

h1.BottomButtonExp{
  position: relative;
  font-weight: bold;
  font-size: 16px;
  color: white;
}

h1.UserButtonExp{
  position: relative;
  font-weight: bold;
  font-size: 16px;
  color: white;
}

/* --- USER BUTTON --- */

.buttonUserLaptop {
  position: relative;

  background-color: transparent;
  background-size: cover;
  display: inline-block;

  border-radius: 6px;
  border: none;
  outline: 0;

  width: 110px;
  height: 170px;
  margin: 5px 5px;

  cursor: pointer;
}

.buttonUserLaptop:active {
  background-color: rgb(56, 56, 56);
}

.buttonUserLaptopImage {
  position: relative;
  left: -7px;
  top: 10px;

  width: 110px;
  height: 170px;
}

/* --- USER BUTTON --- */

.buttonLaptop {
  position: relative;

  background-color: white;
  background-size: cover;
  display: inline-block;

  border-radius: 6px;
  border: none;
  outline: 0;

  width: 56px;
  height: 56px;
  margin: 5px 5px;

  cursor: pointer;
}

.buttonLaptop:active {
  background-color: rgb(56, 56, 56);
}

.buttonLaptopImage {
  position: relative;
  left: -6px;
  top: -2px;

  width: 56px;
  height: 56px;
}


/* --- SLIDER --- */

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 80%;
  height: 12px;
  align-content: center;
  background: white;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;

  top: 10px;
  margin: 15px auto;
  display: block;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgb(28, 103, 160);
  cursor: pointer;
}