html,body,blockquote,code,h1,h2,h3,h4,h5,h6,p,pre{margin:0;padding:0}
div{margin:0px;padding:0;background-color:transparent;text-align:left}

/* --- PANELS --- */

.DefaultPanel {
  position: absolute;
  width: 1270px;
  height: 940px;
}

.LeftBarPanel {
  float:left;
  width: 120px;
  height: 940px;
  background-color: rgb(28, 103, 160);
  text-align: center;
}

.RightPanel {
  float:left;
  width: 1150px;
  height: 940px;
  background-color: #c8c8c8;
}

.PresentationRightPanel {
  display: inline-block;
  width: 825px;
  height: 575px;
  background-color:red;
}

.NextSlideVideoRightPanel {
  float:right;
  width: 325px;
  height: 575px;

  text-align: center;

  background-color:#c8c8c8;
}

.AllOptionPanelsLowerLeftPanel {
  float:left;
  width: 310px;
  height: 365px;
  background-color:rgb(255, 255, 255);
}

.PerOptionsPanel{
  position: relative;
  display: block;
  text-align:center;
  margin: 0 auto;
}

.TakeNotesLowerMiddlePanel{
  float:left;
  width: 420px;
  height: 365px;
  background-color:rgb(228, 228, 228);
}

.GrouPrivateChatLowerRightPanel{
  float:left;
  width: 420px;
  height: 365px;
  background-color:yellow;
}

/* -- IMAGES , BUTTONS , TEXTS -- */

h1.NextSlideText {
  font-family: SegoeUI;
  font-weight: bold;
  font-size: 36px;
  color: #383838;
}

#LaptopCurrentPPTScreen, #LaptopNextPPTScreen, #LaptopUserCamera{
  max-width: 100%;
  height: auto;
}

h1.BottomButtonExp{
  position: relative;
  font-weight: bold;
  font-size: 16px;
  color: white;
}

h1.UserButtonExp{
  position: relative;
  font-weight: bold;
  font-size: 16px;
  color: white;
}

/* --- USER BUTTON --- */

.buttonUserLaptop {
  position: relative;

  background-color: transparent;
  background-size: cover;
  display: inline-block;

  border-radius: 6px;
  border: none;
  outline: 0;

  width: 110px;
  height: 170px;
  margin: 5px 5px;

  cursor: pointer;
}

.buttonUserLaptop:active {
  background-color: rgb(56, 56, 56);
}

.buttonUserLaptopImage {
  position: relative;
  left: -7px;
  top: 10px;

  width: 110px;
  height: 170px;
}

/* --- USER BUTTON --- */

.buttonLaptop {
  position: relative;

  background-color: white;
  background-size: cover;
  display: inline-block;

  border-radius: 6px;
  border: none;
  outline: 0;

  width: 56px;
  height: 56px;
  margin: 5px 5px;

  cursor: pointer;
}

.buttonLaptop:active {
  background-color: rgb(56, 56, 56);
}

.buttonLaptopImage {
  position: relative;
  left: -6px;
  top: -2px;

  width: 56px;
  height: 56px;
}


/* --- SLIDER --- */

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 80%;
  height: 12px;
  align-content: center;
  background: white;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;

  top: 10px;
  margin: 15px auto;
  display: block;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgb(28, 103, 160);
  cursor: pointer;
}







.PPTFiles {
  position: relative;
  width: 449px;
  height: 155px;
  border: 1px solid rgba(75, 75, 75, 0.521);
  box-sizing: border-box;
  top: -290px;
  left: 5px;
}

fieldset {
margin: 30px auto 0;
position: relative;
top: -35px;
width: 415px;
text-align: left;
}

form {
border-top: 0px solid #c8c7cc;
  border-bottom: 0px solid #c8c7cc;
}

legend {
margin: 0 0 1px;
color: #6f6f74;
font-size: 25px;
  line-height: 1.4;

}

.item {
position: relative;
box-sizing: border-box;
background: #ffffff;
}

.item p {
border-top: 1px solid #c8c7cc;
margin: 0 0 0 8px;
height: 50px;
color: #000000;
font-size: 25px;
line-height: 44px;
}

.item:nth-child(1) p {
border: 0;
}


input[type="checkbox"] {
display: none;	
}

.toggle {
position: absolute;
top: 0;
bottom: 0;
right: 9px;
margin: auto;
width: 51px;
height: 31px;
}

.toggle label,
.toggle i {
box-sizing: border-box;
display: block;
background: #ffffff;
}

.toggle label {
width: 51px;
height: 32px;
border-radius: 32px; 
border: 2px solid #e5e5e5;
transition: all 0.30s ease;
}

.toggle i {
position: absolute;
top: 2px;
left: 2px;
width: 28px;
height: 28px;
border-radius: 28px;
box-shadow: 0 0 1px 0 rgba(0,0,0, 0.25),
      0 3px 3px 0 rgba(0,0,0, 0.15);
background: #ffffff;
transition: all 0.3s cubic-bezier(0.275, -0.450, 0.725, 1.450);
}

input[type="checkbox"]:active + .toggle i {
width: 35px;
}

input[type="checkbox"]:active + .toggle label,
input[type="checkbox"]:checked + .toggle label {
border: 16px solid #1C67A0;
}

input[type="checkbox"]:checked + .toggle i {
left: 21px;
}

input[type="checkbox"]:checked:active + .toggle label {
border: 16px solid #e5e5e5;
}

input[type="checkbox"]:checked:active + .toggle i {
left: 14px;
}

.SendWrapper{
  position: relative;
  background-color: #C8C8C8;
  border-radius: 15px;
  top:10px;
  width: 420px;
  height: 60px;
}

.SendMessage{
  border: transparent;
  border-radius: 10px;
  position: relative;
  left:9px;
  width:45px;
  height: 45px;
  top:-25px;
  background-color:#FFFFFF;
}

.Message{
  position: relative;
  width: 100%;
  height:100px;
  margin-bottom: 10px;
}

.message-to-send{
  position: relative;
  font-size: 25px;
  border: transparent;
  background-color: transparent;
  left:15px;
  top:8px;
  width: 350px;
  height: 60px;
  resize: none;
}