html,body,blockquote,code,h1,h2,h3,h4,h5,h6,p,pre{margin:0;padding:0}
div{margin:0;padding:0;background-color:transparent;text-align:left}

.MainPanel{
    position: absolute;
    display:inline-block;
    width: 768px;
    height: 82px;
    left: 0px;
    top: 780px;
    background-color: #1C67A0;
}

/*.MainPanelBottombuttonHeader{
    position: relative;

    background-color:transparent;
    background-size: cover;
    display: inline;
  
    border-radius: 20px;
    border: none;
    outline: 0;
  
    width: 380px;
    height: 76px;
    margin: 0px 0px;
}

.PrivateChatbuttonImage{
    position: relative;
    top:6px;
}

.GroupChatbuttonImage{
    position: relative;
    top:6px;
}


.MainPanelBottombuttonHeader:active{
    background-color: #383838 ;
}

.target, .BT:hover {
    background-color: #383838 ;
}
*/
.tablink {
    background-color:transparent;
    color: white;
    float: left;
    border: none;
    border-radius: 20px;

    outline: none;
    cursor: pointer;
    padding: 24px 18px;
    font-size: 22px;
    width: 50%;
}

