* {
	margin: 0;
	padding: 0;
    border: 0;
}

body {
    background: #efeff4;
}

fieldset {
  margin: 30px auto 0;
  width: 765px;
  text-align: left;
}

form {
	border-top: 1px solid #c8c7cc;
    border-bottom: 1px solid #c8c7cc;
}

legend {
	margin: 0 0 5px;
	color: #6f6f74;
	font-size: 25px;
    line-height: 1.4;

}

.item {
	position: relative;
	box-sizing: border-box;
	background: #ffffff;
}

.item p {
	border-top: 1px solid #c8c7cc;
	margin: 0 0 0 8px;
	height: 55px;
	color: #000000;
	font-size: 25px;
	line-height: 44px;
}

.item:nth-child(1) p {
	border: 0;
}


input[type="checkbox"] {
	display: none;	
}

.toggle {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 9px;
	margin: auto;
	width: 51px;
	height: 31px;
}

.toggle label,
.toggle i {
	box-sizing: border-box;
	display: block;
	background: #ffffff;
}

.toggle label {
	width: 51px;
	height: 32px;
	border-radius: 32px; 
	border: 2px solid #e5e5e5;
	transition: all 0.30s ease;
}

.toggle i {
	position: absolute;
	top: 2px;
	left: 2px;
	width: 28px;
	height: 28px;
	border-radius: 28px;
	box-shadow: 0 0 1px 0 rgba(0,0,0, 0.25),
				0 3px 3px 0 rgba(0,0,0, 0.15);
	background: #ffffff;
	transition: all 0.3s cubic-bezier(0.275, -0.450, 0.725, 1.450);
}

input[type="checkbox"]:active + .toggle i {
	width: 35px;
}

input[type="checkbox"]:active + .toggle label,
input[type="checkbox"]:checked + .toggle label {
	border: 16px solid #1C67A0;
}

input[type="checkbox"]:checked + .toggle i {
	left: 21px;
}

input[type="checkbox"]:checked:active + .toggle label {
	border: 16px solid #e5e5e5;
}

input[type="checkbox"]:checked:active + .toggle i {
	left: 14px;
}

.PresentationButton {
    position: relative;
    background-color:rgba(155, 155, 155, 0.534);
    background-size: cover;
    top: -83px;
    left: 680px;
    border-radius: 6px;
    border: none;
    outline: 0;
    width: 45px;
    height: 45px;
    margin:20px;
    padding:0px;
    cursor: pointer;
}

.PresentationButtonImage {
    position: relative;
    left: 0px;
    top: 0px;
    width:40px;
    height:40px;
  }

  .ReuestCoordButton {
    position: relative;
    background-color:rgba(155, 155, 155, 0.534);
    background-size: cover;
    top: -138px;
    left: 680px;
    border-radius: 6px;
    border: none;
    outline: 0;
    width: 45px;
    height: 45px;
    margin:20px;
    padding:0px;
    cursor: pointer;
}

.LogOutButton {
    position: relative;
    background-color:rgba(155, 155, 155, 0.534);
    background-size: cover;
    top: -83px;
    left: 590px;
    border-radius: 6px;
    border: none;
    outline: 0;
    width: 45px;
    height: 45px;
    margin:20px;
    padding:0px;
    cursor: pointer;
}

.SelectFileButton {
    position: relative;
    background-color:rgba(155, 155, 155, 0.534);
	background-size: cover;
	display: block;
    top: -229px;
    left: 700px;
    border-radius: 6px;
    border: none;
    outline: 0;
    width: 45px;
    height: 45px;
	margin-bottom: 10px;
    padding:0px;
    cursor: pointer;
}

.ExitNotesButton {
    position: relative;
    background-color:rgba(255, 255, 255, 0);
    background-size: cover;
    top: -442px;
    left: 699px;
    border-radius: 6px;
    border: none;
    outline: 0;
    width: 45px;
    height: 45px;
    margin:20px;
    padding:0px;
    cursor: pointer;
}

.ExitMiddleScreenButtonImage {
    position: relative;
    left: 0px;
    top: 2px;
    width:4px;
    height:4px;
  }

.ExitFileSystemButton {
    position: relative;
    background-color:rgba(255, 255, 255, 0);
    background-size: cover;
    top: -552px;
    left: 699px;
    border-radius: 6px;
    border: none;
    outline: 0;
    width: 45px;
    height: 45px;
    margin:20px;
    padding:0px;
    cursor: pointer;
}

.UserIcon {
    position: relative;
    top: 65px;
  }

.UserImage {
    border-radius: 50%;
    top: 0px;
    left: 40px;
    width: 160px;
    height: 160px;
  }

  .dot {
    position: relative;
    height: 30px;
    width: 30px;
    top: 65px;
    left: -45px;
    background-color: rgb(0, 255, 0);
    border-radius: 50%;
    display: inline-block;
}