html,body,blockquote,code,h1,h2,h3,h4,h5,h6,p,pre{margin:0;padding:0}
div{margin:0px;padding:0;background-color:transparent;text-align:left}

/* --- PRESETNATION PANEL --- */
/* --- STEVE --- */

.DefaultPanel {
  max-width: 667px;
  max-height: 375px;
  overflow: hidden;
  background-color: lightgray;
  position: relative;
  display: inline-block;
}

.LeftBarPanel {
  float:left;
  width: 105px;
  height: 375px;
  background-color: rgb(28, 103, 160);
  text-align: center;
}

.RightPanel {
  float:left;
  max-width: 562px;
  max-height: 375px;
  background-color: #c8c8c8;
  display: block;
}

h1.NextSlideText {
  font-family: SegoeUI;
  font-weight: bold;
  font-size: 36px;
  color: #383838;
}

.buttonHeader {
  position: relative;

  background-color:transparent;

  border: none;
  outline: 0;

  width: 85px;
  height: 85px;
  margin: 4px 0px;

  cursor: pointer;
}

.buttonHeader:active {
  background-color: rgb(56,56,56);
}

.imageHeader {
  position: relative;
  top: -1px;
  left:-6px;
  width: 85px;
  height: 85px;
}