html,body,blockquote,code,h1,h2,h3,h4,h5,h6,p,pre{margin:0;padding:0}
div{margin:0px;padding:0;background-color:transparent;text-align:left}

/* --- PRESETNATION PANEL --- */
/* --- STEVE --- */

.DefaultPanel {
  max-width: 667px;
  max-height: 375px;
  overflow: hidden;
  /*background-color: lightgray;*/
  position: relative;
  display: inline-block;
}

.LeftBarPanel {
  float:left;
  width: 105px;
  height: 375px;
  background-color: rgb(28, 103, 160);
  text-align: center;
}

.RightPanel {
  float:left;
  max-width: 562px;
  max-height: 375px;
  /*background-color: #c8c8c8;*/
  display: block;
}


.buttonLeftPanel {
  position: relative;
  background-color: transparent;
  border: none;
  outline: 0;
  width: 85px;
  height: 85px;
  margin: 4px 0px;
  cursor: pointer;
}

.buttonLeftPanel:active {
  background-color: rgb(56,56,56);
}

.imageLeftPanel {
  position: relative;
    top: -1px;
    left: -6px;
    width: 85x;
    height: 85px
}

.topButtonHeader {
  z-index: 2;
  position: absolute;
  right: 0;
  top: 0;

  background-color:rgb(200, 200, 200);

  border: none;
  outline: 0;

  width: 26px;
  height: 26px;

  cursor: pointer;
}

/* ANNOTATIONPANEL */

.SideAnnotationPanel {
  position: absolute;
  width: 190px;
  height: 263px;
  right: 0px;
  top: 0px;
  background-color: #c8c8c8
}

.NextSlidePanel {
  /*since I dont alter the position,
  static would work the same*/
  position: relative;
  width: 190px;
  height: 130px;
  left: 0px;
  top: 0px;
  text-align: center;  
}

h1.NextSlideText {
  position: relative;
  max-width: 248px;
  width: auto;
  max-height: 26px;
  height: auto;
  top: 0px;
  font-family: SegoeUI;
  font-weight: bold;
  font-size: 18px;
  color: #383838;
}

.PresentationControlsPanel {
  position: relative;
  width: 190px;
  height: 132px;
  left: 0px;
  top: 0px;
  text-align: center;
}

.buttonAnnotation {
  position: relative;

  background-color:white;
  background-size: cover;
  display: inline-block;

  border-radius: 6px;
  border: none;
  outline: 0;

  width: 30px;
  height: 30px;
  margin: 4px 0px;

  cursor: pointer;
}

.buttonAnnotation:active {
  background-color: rgb(28, 103, 160);
}

.buttonAnnotationImage {
  position: relative;
  left:-3px;
  width:25px;
  height:25px;
}

/* SLIDER */

.slidecontainer {
  position: relative;
  width: 100%;
  top:-5px;
}

.slider {
  -webkit-appearance: none;
  width: 80%;
  height: 12px;
  align-content: center;
  background: white;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;

  top: 10px;
  margin: 15px auto;
  display: block;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgb(28, 103, 160);
  cursor: pointer;
}

/* --- PAUL --- */

/* --- THANOS --- */
.PeopleList{
  width: 10%;
  height: 100%;
  float: left;
  background-color: #C8C8C8;
  overflow: auto;

}

.Messages{
  position: relative;
    width: 85%;
    left: 20px;
    height: 100%;
    float: left;
}

#ChatPanel{
  width: 562px;
  height: 375px;
}

.PrivateChatPanel{
  display: inline;
  position: absolute;
  top:0px;
  width: 100% ;
  height: 415px;
}
.M3UserIcon {
  display: inline-block;
  position: relative;
  top: 5px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  margin-left: 5px;
  left: 5%;
}
.M2UserImage {
  position: relative;
  border-radius: 50%;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
}

.M2dot {
  position: relative;
  height: 8px;
  width: 8px;
  top: -10px;
  left: 25px;
  background-color: rgb(0, 255, 0);
  border-radius: 50%;
  display: inline-block;
  
}

.incoming_msg{
  left: 5%;
}
.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 98%;}
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 60%;
}
.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.MsgImg {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
  border-radius: 20px;
}

.MessagesPanel{
  position: relative;
  width:100%;
  height: 85%;
  overflow: auto;

}
.SendPanel{
  position: relative;
  width: 100%;
  height: 12%;
  margin-top:5px; 
}

.SendWrapper2{
  position: relative;
    background-color: #C8C8C8;
    border-radius: 15px;
    width: 100%;
    height: 100%;

}
.OpenFile2{
  border: transparent;
    border-radius: 10px;
    position: relative;
    left: 8px;
    width: 8%;
    height: 80%;
    top: -10px;
    background-color: #FFFFFF;
}
.message-to-send{
  position: relative;
    font-size: 15px;
    border: transparent;
    background-color: transparent;
    left: 15px;
    top: 5px;
    width: 75%;
    height: 80%;
    resize: none;


}
.SendMessage2{
  border: transparent;
    border-radius: 10px;
    position: relative;
    left: 5%;
    width: 8%;
    height: 80%;
    top: -8px;
    background-color: #FFFFFF;
}

.incoming_msg{
  left: 5%;
}
.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  background:#ebebeb  none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 98%;}
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 60%;
}
.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.MsgImg {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
  border-radius: 20px;
}

#PeoplePanel{
  width: 562px;
  height: 375px;
}
#SettingsPanel{
  width: 562px;
  height: 375px;
}


.MiddlePanelMoreOptionsParticipant{
  position: relative;
  width: 768px;
  height: 510px;
  top:0px;
  overflow-y: scroll;
}

.RemoteUserIcon {
  position: relative;
  display: inline-block;
  left: 20px;
}

.RemoteUserImage {
  position: relative;
  border-radius: 50%;
  left: 10px;
  width: 80px;
  height: 80px;
}

.RemoteUserDot {
  position: relative;
    height: 15px;
    width: 15px;
    top: 37px;
    left: -25px;
    background-color: rgb(0, 255, 0);
    border-radius: 50%;
    display: inline-block;
}

.RemoteUserName {
  position: relative;
  color: rgb(0, 0, 0);
  left: 12px;
  font-size: 20px;
  font-weight: bold;
}

.RemoteUserButton {
  position: relative;
  background-color:rgba(0, 0, 0, 0);
  background-size: cover;
  border: none;
  outline: 0;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 6px 5px;
  padding: .35em .625em .75em;
}

.PresentationButtonImage {
  position: relative;
  left: 0px;
  top: 0px;
  width: 40px;
  height: 40px;
}
legend {
  margin: 0 0 5px;
  color: #6f6f74;
  font-size: 20px;
  line-height: 1.4;
}
form {
  border-top: 1px solid #c8c7cc;
  border-bottom: 1px solid #c8c7cc;
}
.item {
  position: relative;
  box-sizing: border-box;
  background: #ffffff;
}
.item:nth-child(1) p {
  border: 0;
}
input[type="checkbox"] {
  display: none;
}
.toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 9px;
  margin: auto;
  width: 51px;
  height: 31px;
}
.toggle label {
  width: 51px;
  height: 32px;
  border-radius: 32px;
  border: 2px solid #e5e5e5;
  transition: all 0.30s ease;
}
.item p {
  border-top: 1px solid #c8c7cc;
  margin: 0 0 0 8px;
  height: 50px;
  color: #000000;
  font-size: 20px;
  line-height: 44px;
}
form {
  border-top: 1px solid #c8c7cc;
  border-bottom: 1px solid #c8c7cc;
}
.toggle i {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 28px;
  height: 28px;
  border-radius: 28px;
  box-shadow: 0 0 1px 0 rgba(0,0,0, 0.25), 0 3px 3px 0 rgba(0,0,0, 0.15);
  background: #ffffff;
  transition: all 0.3s cubic-bezier(0.275, -0.450, 0.725, 1.450);
}
.toggle label, .toggle i {
  box-sizing: border-box;
  display: block;
  background: #ffffff;
}
toggle label, .toggle i {
  box-sizing: border-box;
  display: block;
  background: #ffffff;
}
input[type="checkbox"]:active + .toggle label, input[type="checkbox"]:checked + .toggle label {
  border: 16px solid #1C67A0;
}
input[type="checkbox"]:checked + .toggle i {
  left: 21px;
}
button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}
.LogOutButton {
  position: relative;
  background-color: rgba(155, 155, 155, 0.534);
  background-size: cover;
  top: -85px;
  left: 590px;
  border-radius: 6px;
  border: none;
  outline: 0;
  width: 40px;
  height: 40px;
  margin: 20px;
  padding: 0px;
  cursor: pointer;
}