html,body,blockquote,code,h1,h2,h3,h4,h5,h6,p,pre{margin:0;padding:0}
div{margin:0px;padding:0;background-color:transparent;text-align:left}

/* --- PRESETNATION PANEL --- */
/* --- STEVE --- */

.DefaultPanel {
  max-width: 667px;
  max-height: 375px;
  overflow: hidden;
  background-color: lightgray;
  position: relative;
  display: inline-block;
}

.LeftBarPanel {
  float:left;
  width: 105px;
  height: 375px;
  background-color: rgb(28, 103, 160);
  text-align: center;
}

.RightPanel {
  float:left;
  max-width: 562px;
  max-height: 375px;
  background-color: #c8c8c8;
  display: block;
}


.buttonLeftPanel {
  position: relative;

  background-color:transparent;

  border: none;
  outline: 0;

  width: 85px;
  height: 85px;
  margin: 4px 0px;

  cursor: pointer;
}

.buttonLeftPanel:active {
  background-color: rgb(56,56,56);
}

.imageLeftPanel {
  position: relative;
  top: -1px;
  left:-6px;
  width: 85px;
  height: 85px;
}

.topButtonHeader {
  z-index: 2;
  position: absolute;
  right: 0;
  top: 0;

  background-color:rgb(200, 200, 200);

  border: none;
  outline: 0;

  width: 26px;
  height: 26px;

  cursor: pointer;
}

/* ANNOTATIONPANEL */

.SideAnnotationPanel {
  position: absolute;
  width: 190px;
  height: 263px;
  right: 0px;
  top: 0px;
  background-color: #c8c8c8
}

.NextSlidePanel {
  /*since I dont alter the position,
  static would work the same*/
  position: relative;
  width: 190px;
  height: 130px;
  left: 0px;
  top: 0px;
  text-align: center;  
}

h1.NextSlideText {
  position: relative;
  max-width: 248px;
  width: auto;
  max-height: 26px;
  height: auto;
  top: 0px;
  font-family: SegoeUI;
  font-weight: bold;
  font-size: 18px;
  color: #383838;
}

.PresentationControlsPanel {
  position: relative;
  width: 190px;
  height: 132px;
  left: 0px;
  top: 0px;
  text-align: center;
}

.buttonAnnotation {
  position: relative;

  background-color:white;
  background-size: cover;
  display: inline-block;

  border-radius: 6px;
  border: none;
  outline: 0;

  width: 30px;
  height: 30px;
  margin: 4px 0px;

  cursor: pointer;
}

.buttonAnnotation:active {
  background-color: rgb(28, 103, 160);
}

.buttonAnnotationImage {
  position: relative;
  left:-3px;
  width:25px;
  height:25px;
}

/* SLIDER */

.slidecontainer {
  position: relative;
  width: 100%;
  top:-5px;
}

.slider {
  -webkit-appearance: none;
  width: 80%;
  height: 12px;
  align-content: center;
  background: white;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;

  top: 10px;
  margin: 15px auto;
  display: block;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgb(28, 103, 160);
  cursor: pointer;
}

/* --- PAUL --- */

/* --- THANOS --- */