.TopPanel {
  position: absolute;
  width: 768px;
  height: 354px;
  left: 0px;
  top: 0px;
}

.VideoPanel {
  position: absolute;
  width: 519px;
  height: 354px;
  left: 0px;
  top: 0px;

  background: url(image.png);
}

.NextSlidePanel {
  position: absolute;
  width: 249px;
  height: 177px;
  left: 519px;
  top: 0px;
}
.SlideTitle {
  position: absolute;
  width: 249px;
  height: 20px;
  left: 519px;
  top: 0px;
}

h1.NextSlideText {
  position: absolute;
  width: 138px;
  height: 13px;
  left: 575px;
  top: 2px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 14px;
  color: #383838;
}
